|
<span class="topBarElem">!Hola, Mauricio Mendez</span> |<span> Tipo Usuario: Admin</span> |<span> Organización:  Tipddy</span>
<span class="topBarElem">
 | <a href="{{ path('login_logout')}}">Desconectar</a>
</span>